*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-image:url(../img/spiderman.jpg) ;
    background-size: cover ;
    height: 100vh;
    font-family: Verdana, Tahoma, sans-serif;
}

link {
    display: none;
}

nav  {
    background-color: #236979 !important;
}